#background{
  position: fixed;
  background-position: center;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  height: 100vh;
  z-index: -1;
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-card .card-body {
  flex: 1;
}

.team-member-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.responsive-image {
  max-height: 80vh; /* Adjust this value based on your preference */
  object-fit: contain;
  width: 100%;
}

.art{
  aspect-ratio: 5/3.5;
  object-fit: cover;
  object-position: center;
  transition: object-fit 1s 0s;
  width: 100%;
  transition: all 1s;
}